@mixin center($axis: both) {
  display: grid;

  @if $axis == both {
    place-items: center;
  } @else if $axis == x {
    place-items: center start;
  } @else if $axis == y {
    place-items: start center;
  }
}

@mixin button-reset {
  appearance: none;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
}

@mixin mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;
}