@use "../../Styles/basecard.scss";

$leftWidth: 140px;
$rowH: 60px;
$border: 1px solid #1a1a1a;
$highlightcolor: #ffffff;

.general__grid {
  display: grid;
  grid-template-columns: $leftWidth 1fr;
  grid-auto-rows: $rowH;
  row-gap: 5px;
  column-gap: 22px;
  margin: 16px 8px 0 8px;
}

.general__grid > .general__label {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 16px;
  color: #2f2f2f;

  border-left: $border;
  border-right: 1px solid #7a7a7a;;
  border-top: 0;
  border-bottom: 0;
  background: $highlightcolor;
}

.general__grid > .general__label:nth-child(1) {
  border-top: $border;
  border-top-left-radius: 10px;
}

.general__grid > .general__label:nth-last-child(2) {
  border-bottom: $border;
  border-bottom-left-radius: 0px;
}

.general__grid > div:not(.general__label) {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 8px;
}

.general__value {
  color: #1a1a1a;
  font-weight: 500;
}

.general__line {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  border-bottom: 1px solid #7a7a7a;
}

.general__labels,
.general__values {
  display: grid;
  width: auto;
  row-gap: 18px;
  padding: 8px;
}

.general__textboxes {
  display: grid;
  row-gap: 18px;
  padding: 10px;
}

.general__icon {
  width: 56px;
  height: 56px;
}

.general__labelData {
  position: relative;
  font-weight: 700;
  color: #1a1a1a;
  vertical-align: center;
}

.general__row {
  display: flex;
  flex-direction: column;
}

.general__actions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
  border: #1a1a1a solid 1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: $highlightcolor;
  margin: 16px 8px 36px 8px;
}

.general__actionBtn {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: $highlightcolor;
  cursor: pointer;
}

.general__actionBtn:hover { background: #003f76; }
.general__actionBtn:active { background: #001629; }