@use "../../Styles/basecard.scss";

.general__grid {
  display: grid;
  grid-template-columns: 120px 1fr;
  column-gap: 22px;
  row-gap: 10px;
  padding: 6px;
  width: auto;
  border: #1a1a1a solid 1px;
  border-radius: 10px;
  margin-top: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

.general__labels,
.general__values {
  display: grid;
  width: auto;
  row-gap: 18px;
  padding: 8px;
}

.general__textboxes {
  display: grid;
  row-gap: 18px;
  padding: 10px;
}

.general__label {
  height: 40px;
  color: #2f2f2f;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  border-right: #1a1a1a solid 1px;
}

.general__icon {
  width: 56px;
  height: 56px;
}

.general__labelData {
  position: relative;
  font-weight: 700;
  color: #1a1a1a;
  vertical-align: center;
}

.general__row {
  display: flex;
  flex-direction: column;
}

.general__line {
  border-bottom: 1px solid #7a7a7a;
}

.general__value{
  color: #1a1a1a;
}

.general__actions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
  border: #1a1a1a solid 1px;
  border-radius: 10px;
  background: #f6f8fb;
  margin-top: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

.general__actionBtn {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 10px;
  background-color: #f7f9fa;
  cursor: pointer;
}

.general__actionBtn:hover { background: #003f76; }
.general__actionBtn:active { background: #001629; }